:root {
            --base-color: rgb(230,240,140);
            --heading-color: black;
            --list-color: #fff;
            --list-bgcolor: #006fe5;
            --button-color: #28a745;
            --container-bg: #fff;
        }
        .p{
            color: var(--heading-color);
            font: Arial , sans-serif; 
            text-align: bottom-right;
            transition: color 0.3s ease;
            font-size: 16px;
            margin-top: 10px;
        }
        .darkmode {
            --base-color: rgb(15, 15, 15);
            --heading-color: #FFFDD0;
            --list-color: #fff;
            --list-bgcolor: rgb(39, 39, 39);
            --button-color: #28a745;
            --container-bg: rgb(39, 39, 39);
        }

        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
            background-color: var(--base-color);
            transition: background-color 0.3s ease;
        }

        h2 {
            color: var(--heading-color);
            text-align: center;
            transition: color 0.3s ease;
        }

        #theme-switch {
            height: 50px;
            width: 50px;
            padding: 0;
            border-radius: 50%;
            background-color: var(--heading-color);
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            top: 20px;
            right: 20px;
            cursor: pointer;
            transition: all 0.3s ease;
        }

        #theme-switch:hover {
            transform: scale(1.1);
        }

        #theme-switch svg {
            fill: var(--base-color);
        }

        #theme-switch svg:last-child {
            display: none;
        }

        .darkmode #theme-switch svg:first-child {
            display: none;
        }

        .darkmode #theme-switch svg:last-child {
            display: block;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        ul li {
            background: var(--list-color);
            margin: 10px 0;
            padding: 15px;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            cursor: pointer;
            transition: all 0.3s ease;
        }

        ul li:hover {
            background-color: var(--list-bgcolor);
            color: white;
        }

        button {
            background-color: var(--button-color);
            color: white;
            border: none;
            padding: 10px 15px;
            border-radius: 5px;
            cursor: pointer;
            margin: 5px;
            font-size: 16px;
            transition: background-color 0.3s ease;
        }

        button:hover {
            background-color: var(--list-bgcolor);
        }

        input {
            padding: 10px;
            font-size: 16px;
            border: 2px solid var(--heading-color);
            border-radius: 8px;
            width: 575px;
            max-width: 100%;
            margin-bottom: 10px;
            transition: border-color 0.3s;
            background-color: var(--list-color);
            color: var(black);
        }

        input:focus {
            outline: none;
            border-color: var(--button-color);
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            background: var(--container-bg);
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            transition: background-color 0.3s ease;
        }

        .custom-strike {
            position: relative;
            opacity: 0.6;
            color: #666 !important;
        }

        .custom-strike::after {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            width: 100%;
            height: 2px;
            background: #dc3545;
            animation: strikeAnimation 0.3s ease-in-out;
        }

        .sidenav{
            height: 100%;
            width: 0%;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            padding-top: 60px;
            transition: 0.5s;
        }
        .sidenav a{
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
            transition: 0.3s;
        }

        .sidenav a:hover{
            color : grey ; 
        }
        .sidenav .closebtn{
            position:absolute;
            top:0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }

        #main{
            transition: margin-left .5s;
            padding: 20px;
        }

        @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
        }

        @keyframes strikeAnimation {
            from { width: 0; }
            to { width: 100%; }
        }

        @media (max-width: 600px) {
            input {
                width: calc(100% - 22px);
            }
            
            .container {
                margin: 10px;
                padding: 15px;
            }
        }